<p>Editar producto de inventario</p>
<form [formGroup] = "editFormGroup" (ngSubmit)="fetchUpdateProduct()">
    <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Agregar Producto A Inventario</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Producto</mat-label>
                <input matInput [value] = "product.nombre" readonly>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Estado" formControlName="estado">
                  <mat-option *ngFor="let estado of estados" [value]="estado.id_estado">
                    {{ estado.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editFormGroup.controls['estado'].hasError('required')">
                  estado es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Empleado" formControlName="empleado">
                  <mat-option *ngFor="let empleado of empleados" [value]="empleado.id_empleado">
                    {{ empleado.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editFormGroup.controls['empleado'].hasError('required')">
                  empleado es <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Area" formControlName="area">
                  <mat-option *ngFor="let area of areas" [value]="area.id_area">
                    {{ area.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editFormGroup.controls['producto'].hasError('required')">
                  area es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>
</form>